<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <span class="footer-name">Raúl Redondo Chicano</span>
      <span class="footer-year">© {{ currentYear }}</span>
    </div>

    <div class="footer-center">
    <a href="assets/como-se-hizo.pdf" target="_blank" class="footer-link footer-how">
      <span class="material-icons">auto_stories</span>
      {{ 'COMPONENTS.FOOTER.HOW' | translate }}
    </a>
  </div>

    <div class="footer-right">
      <a href="https://github.com/Rauliitoo4" target="_blank" class="footer-link">
        <span class="material-icons">code</span>
        GitHub
      </a>
      <a href="http://www.linkedin.com/in/ra%C3%BAl-redondo-chicano-b028a9377" target="_blank" class="footer-link">
        <span class="material-icons">work</span>
        Linkedin
      </a>
    </div>
  </div>
</footer>
